{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if name %}{{ name }}{% else %}Estranho{% endif %}!</h1>
    {% if not known %}
    <p>Prazer em conhecê-lo!</p>
    {% else %}
    <p>Feliz em vê-lo novamente!</p>
    {% endif %}
</div>

{{ wtf.quick_form(form) }}

<div style="margin-top: 40px;">
    <h2>Relação de usuários cadastrados</h2>
    <p>Quantidade: {{ num_users }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>Nome do usuário</th>
                <th>Função</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.role.name if u.role else 'User' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div style="margin-top: 40px;">
    <h2>Relação de funções cadastradas</h2>
    <p>Quantidade: {{ num_roles }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>Funções</th>
                <th>Usuários</th>
            </tr>
        </thead>
        <tbody>
            {% for r in roles %}
            <tr>
                <td>{{ r.name }}</td>
                <td>
                    {% if r.users.count() > 0 %}
                        <ol style="margin-bottom: 0; padding-left: 20px;">
                            {% for u in r.users %}
                                <li>{{ u.username }}</li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <em>Nenhum usuário</em>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}